:root {
    --main-color: #ec3454;
}

.main-color {
    color: var(--main-color);
}

header:first-of-type {
    background-color: #ececec
}

.dropdown-toggle::after {
    color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

input,
select {
    outline: 0;
    border: 0;
}

.position {
    position: absolute;
    top: 25%;
    right: 80%;
}

.float {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.rounde {
    border-radius: 1rem;
}


/* start rest-page-sail */

.rest {
    background-image: url(../images/rest-bg.jpg);
}

main.rest-product {
    background-color: #d0d0d0;
}

.bg {
    background-image: url(../images/btn.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* end rest-page-sail */